
<div class="login-container">
  <div class="login-card">
    <h2>Login</h2>
    <p class="subtitle"> Login to your account</p>
    <form autocomplete="off">
      <!-- Username -->
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" placeholder="Enter username" [(ngModel)]="login.username" name="username"
          autocomplete="off">
      </div>
      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-wrapper">
          <input id="password" [type]="showPassword() ? 'text' : 'password'" placeholder="Enter password" [(ngModel)]="login.password"
            name="password" autocomplete="new-password">
          <button type="button" class="password-toggle" (click)="togglePassword()">
            <i class="bi" [class.bi-eye]="!showPassword()" [class.bi-eye-slash]="showPassword()"></i>
          </button>
        </div>
      </div>
      <!-- Login Button -->
      <button type="button" class="login-button" (click)="loginUser()">
        Login
      </button>
    </form>
    <!-- Register Link -->
    <div class="register-link">Don't have an account? <a routerLink="/registration">Register</a>
    </div>
  </div>
</div>