USE [Managementsystem]
GO
/****** Object:  StoredProcedure [dbo].[GetCitiesByState]    Script Date: 08-09-2026 08:33:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetCitiesByState]
    @StateId INT
AS
BEGIN
    SELECT
        CityId,
        CityName
    FROM City
    WHERE StateId = @StateId
    ORDER BY CityName;
END