USE [Managementsystem]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 08-09-2026 08:32:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_DeleteUser]
    @Id INT
AS
BEGIN
  --  UPDATE Registration
  --  SET
		--IsActive=0
  --  WHERE RegistrationId = @Id;

  delete From Registration where RegistrationId=@Id;

	IF @@ROWCOUNT > 0
    BEGIN
        SELECT 1 AS Result;
    END
    ELSE
    BEGIN
        SELECT 0 AS Result;
    END
END


--ALTER TABLE Registration
--ADD IsActive BIT NOT NULL DEFAULT 1;