USE [Managementsystem]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserDetail]    Script Date: 08-09-2026 08:32:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_GetUserDetail]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.RegistrationId,
        ROW_NUMBER() OVER (ORDER BY r.RegistrationId) AS SrNo,
        r.Name,
        r.Username,
        r.PasswordHash,
        r.DateOfBirth,
        r.Gender,
        r.Hobbies,
        r.FileName,
        r.Address,
        s.StateName,
        c.CityName,
        r.Pincode
    FROM Registration r
    INNER JOIN State s
        ON r.StateId = s.StateId
    INNER JOIN City c
        ON r.CityId = c.CityId;
END