USE [Managementsystem]
GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 08-09-2026 08:32:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Login]
    @Username NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

	 IF EXISTS (
        SELECT *
        FROM Registration
        WHERE Username = @Username
    )
    BEGIN
        SELECT
            1 AS StatusCode,
            'Login successfully' AS Message;

		select * from Registration  WHERE Username = @Username

    END
    ELSE
    BEGIN
        SELECT
            0 AS StatusCode,
            'Invalid username or password' AS Message;

		select * from Registration  WHERE Username = @Username

    END
END

--select * From Registration
--select * from State


	--select r.RegistrationId,ROW_NUMBER() OVER (ORDER BY r.RegistrationId) AS SrNo,r.Name,r.Username,r.PasswordHash,r.DateOfBirth,r.Gender,r.Hobbies,r.FileName,r.Address,s.StateName,c.CityName,r.Pincode
	--from Registration r join State s on r.StateId=s.StateId join City c on r.CityId=c.CityId  AND ( @Username = 'Pratham S'OR r.Username = @Username);