USE [Managementsystem]
GO
/****** Object:  StoredProcedure [dbo].[SP_SaveOrUpdateUser]    Script Date: 08-09-2026 08:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SP_SaveOrUpdateUser]
(
    @Id INT = 0,
    @Name NVARCHAR(50),
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255),
	@DateOfBirth Date,
	@Gender NVARCHAR(20),
	@Hobbies NVARCHAR(100),
	@Address NVARCHAR(100),
	@StateId INT,
	@CityId INT,
	@Pincode NVARCHAR(10),
	@FileName NVARCHAR(100)

)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Id = 0)
    BEGIN
        -- Insert
        INSERT INTO Registration
        (
            Name,
            Username,
            PasswordHash,
			DateOfBirth,
			Gender,
			Hobbies,
			Address,
			StateId,
			CityId,
			Pincode,
			FileName
        )
        VALUES
        (
            @Name,
            @Username,
            @PasswordHash,
			@DateOfBirth,
			@Gender,
			@Hobbies,
			@Address,
			@StateId,
			@CityId,
			@Pincode,
			@FileName
        );

        -- Return newly inserted record
        SELECT *
        FROM Registration
        WHERE RegistrationId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        -- Update
        UPDATE Registration
        SET
            Name = @Name,
            Username = @Username,
			DateOfBirth=@DateOfBirth,
			Gender=@Gender,
			Hobbies=@Hobbies,
			Address=@Address,
			StateId=@StateId,
			CityId=@CityId,
			Pincode=@Pincode
        WHERE RegistrationId = @Id;

        -- Return updated record
        SELECT *
        FROM Registration
        WHERE RegistrationId = @Id;
    END
END

